body {
  margin-top: 100px;
  color: white;
}

.header {
  width: $maxwidth;
  background: #fff url('bcg2.png') no-repeat bottom right;

  .logo {
    padding: 30px 0 16px 15px;
  }
}

.main-holder {
  width: $maxwidth;
  background-color:$spl2_primary;
  
  form {
    
    .wifi {
      
      img {
        padding: 48px 0;
        cursor: pointer;
      }  
    }

    .cards {

      .card {
        padding-bottom: 10px;

        .card-img-overlay {
          text-align: center;
          padding:$card-img-overlay-padding;
        }
      }
    }

    label.form-check-label {
      font-size:$basesize;
    }
    
    button {
      display: none;
    }
  }
}